/* common styles */
html, body { font: 12px/1.5 'Lucida Grande', Verdana, Arial, "\5b8b\4f53", Sans-Serif; color: #333; background: #e5e5e5; min-width: 870px; }
a:link, a:visited, a:active { color: #03c; text-decoration: underline; }
a:hover { color: #bf0000; text-decoration: none; }

/* flash message styles */
#flash_message { border: 1px solid #ccc; padding: 5px 5px 5px 30px; margin-bottom: 12px; }
#flash_message.alert { border-color: #c99; color: #fff; background: #c00 url(/images/chinabeibao_sprites.png) -473px -7px no-repeat; }
#flash_message.notice { border-color: #9c9; color: #060; background: #e2f9e3 url(/images/chinabeibao_sprites.png) -475px -271px no-repeat; }

/* button styles */
.button { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; 
  background: #DDD; border:1px solid; border-color: #e0e0e0 #aaa #aaa #e0e0e0;
  background: -moz-linear-gradient(0% 170% 90deg, #c4c4c4, white); 
  background: -webkit-gradient(linear, 0% 0%, 0% 170%, from(white), to(#c4c4c4)); 
  color: #404040; display: inline-block; font-size: 12px; padding: 5px 13px 5px; text-align: center; text-decoration: none;  
  font-family: "helvetica neue", helvetica, arial, freesans, "liberation sans", "numbus sans l", sans-serif;
  text-shadow: 1px 1px 0 rgba(255,255,255,60); outline: 0; white-space: nowrap; cursor: pointer; }
input[type='submit'].button,
button[type='submit'] { font-weight: bold; }
.button.small { padding: 2px 10px 2px; font-weight: normal; }
.button.group { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0px; padding: 5px 10px; }
.button.group.left { padding: 5px 10px; -moz-border-radius: 3px 0 0 3px; -webkit-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px; }
.button.group.right { padding: 5px 10px; -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; }
a.button { color: #404040; text-decoration: none; margin: 0; }
.button:hover { background: -moz-linear-gradient(0% 170% 90deg, #b8b8b8, white);
  background: -webkit-gradient(linear, 0% 0%, 0% 170%, from(white), to(#b8b8b8));    
  border-color: #e0e0e0 #999 #999 #e0e0e0; color: #333333; }
.button:focus, .button:active, .button.checked { text-shadow: 0 1px 0 #666; top: 0px; background-position: 0 -25px; color: #fff;
  border: 1px solid #555; background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#999));
  background: -moz-linear-gradient(top,  #666,  #999); }
  
/* sidebar button styles */
div.button_to_add_new { margin: 0 0 15px 0; }
div.button_layout { overflow: hidden; margin-left: -1px; margin-top: -1px; padding: 1px; }
div.button_layout a { display: block; font-size: 13px; font-weight: bold; height: 31px; margin-right: .4em; padding: 0 0 0 30px; text-decoration: none; text-shadow: 0 0 1px #fff; text-wrap: none; 
  background: url(/images/chinabeibao_sprites.png) 0% -966px no-repeat; float: left; }
div.button_layout a span { color: #000; display: block; padding: 1px 12px 2px 0; line-height: 29px; background: url(/images/chinabeibao_sprites.png) 100% -1030px no-repeat; }
div.mbox { margin-top: 7px; }
div.mbox h3 { padding: 6px 8px; font-size: 13px; margin: 0 0 5px 0; font-weight: bold; background: #edf3fe; border-bottom: 1px solid gainsboro; }
div.mbox div.indent { padding-left: 8px; }
div.mbox div.indent p { font-size: 12px; line-height: 1.3em; color: #222; margin: 12px 0; }
div.mbox div.indent ul.nav li {  }
div.mbox div.indent ul.nav li a { display: block; padding: 3px 0 3px 3px; }
div.mbox div.indent ul.nav li a:hover { background: #f0f0f0; text-decoration: none; color: #03c; }

/* header styles */
#header { background: #195d00; position: relative; }
#header h1 { color: #fff; padding: 10px 0 10px 30px; font-size: 24px; font-weight: normal; line-height: normal; }
#header div.navigation { font-size: 10px; padding: 7px 25px 0; }
#header div.navigation, #header div.navigation a:link, #header div.navigation a:visited { color: #d1eeff; }
#header #header_top_wrapper { position: absolute; top: 0; right: 0; padding: 7px 20px; font-size: 10px; }
#header #header_top_wrapper a, #header #header_top_wrapper span.email { padding: 7px 3px; }
#header div.navigation div.pipe, #header div.navigation span.pipe { opacity: .6; filter: alpha(opacity=60); font-size: 10px; }
#header #tabs { margin: 0 57px 0 30px; padding: 0; height: 24px; }
#header #tabs li { display: inline; font-size: 11px; line-height: 13px; }
#header #tabs a:link, #header #tabs a:visited { float: left; font-size: 12px; padding: 6px 9px 6px; line-height: 12px; margin: 0 1px; 
  text-decoration: none; background: #217a00; color: #d1eeff; }
#header #tabs a:link.current, #header #tabs a:visited.current { color: #000; font-weight: bold; text-decoration: none; margin: 0 1px; 
  padding-bottom: 9px; background: #e5e5e5; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd',endColorstr='#e5e5e5');
  background: -webkit-gradient(linear,left top,left bottom,from(#fdfdfd),to(#e5e5e5)); background: -moz-linear-gradient(top,#fdfdfd,#e5e5e5) }
  
/* wrapper styles */
#wrapper { position: relative; padding: 12px 23px 0 30px; margin: 0 auto; }
#wrapper table.layout { clear: left; border-collapse: collapse; width: 100%; }
#wrapper table.layout td.left, #wrapper table.layout td.right { vertical-align: top; padding: 0; }
#wrapper table.layout td.left { width: 70%; }
#wrapper table.layout td.right { width: 300%; }
#wrapper table.layout td.full { width: 100%; }
#wrapper table.layout td.left div.left, #wrapper table.layout td.right div.right { width: auto; float: none; }
#wrapper .col { padding: 0 20px; }
#wrapper div.left .col, #wrapper div.full .col { position: relative; padding: 0; background: #fff; -moz-box-shadow: 3px 3px 4px #BBB; 
  -webkit-box-shadow: 3px 3px 4px #bbb; box-shadow: 3px 3px 4px #bbb; border-right: 1px solid #BBB; border-bottom: 1px solid #BBB; }
#wrapper div.right .col { min-width: 200px; padding: 0 0 0 9px; }
body:first-of-type .left .col, body:first-of-type .full .col { border: none; margin-right: 8px; }
#wrapper div.left div.innercol, #wrapper div.full div.innercol { padding: 15px 23px 20px 23px; }
#wrapper div.page_header { background: #edf3fe; margin: 0 0 5px 0; padding: 13px 30px 13px 24px; line-height: normal; }
#wrapper div.page_header h1, #wrapper div.page_header strong { padding: 0; margin: 0; font-size: 14px; color: #000; font-weight: bold; line-height: normal; }
#wrapper div.page_header a:link, #wrapper div.page_header a:visited { line-height: normal; }
#wrapper div.page_header span.pipe { opacity: .6; filter: alpha(opacity=60); font-size: 10px; padding: 0 4px; }
#wrapper div.bottom { line-height: 14px; }
#wrapper div.footer { font-size: 9px; color: #999; margin: 3px 0 20px 10px; padding-bottom: 15px; }
#wrapper div.footer a:link, #wrapper div.footer a:visited { color: #195D00; }
#wrapper div.footer a:hover { color: #fff; background: #195d00; }

/* form styles */
.simple_form div.main_attributes { background: #efefef; margin: 0 0 10px 0; border-width: 1px; border-style: solid; border-color: #d9d9d9 #ccc #ccc #d9d9d9; } 
.simple_form div.main_attributes div.inner { padding: 10px; border: 1px solid #fff; }
.simple_form div.input { margin: 0 15px 10px 0; }
.simple_form div.input label { display: block; color: #333; }
.simple_form div.input abbr { color: #bf0000; }
.simple_form div.input input { width: 100%; padding: 3px; font-size: 18px; }
.simple_form div.input textarea { width: 100%; font-family: 'Lucida Grande', Verdana, Arial, "\5b8b\4f53", Sans-Serif; height: 100px; padding: 3px; margin: 2px; overflow-y:auto; }
.simple_form div.input input.file { font-size: 12px; }
.simple_form div.other_container { border-bottom: 5px solid #eee; padding: 8px 0 8px 10px; }
.simple_form div.actions { padding-top: 10px; }
.simple_form div.input span.hint { color: #666; margin-top: 3px; display: block; }
.simple_form div.select select { padding: 3px 8px 3px 0; border: 1px solid #ccc; }
.simple_form div.numeric input.numeric { width: 100px; }

/* error messages styles */
div.errorExplanation { border: 1px solid #c99; padding: 5px 5px 5px 30px; margin-bottom: 12px; color: #fff; background: #c00 url(/images/chinabeibao_sprites.png) -473px -6px no-repeat; }
div.errorExplanation h2 { font-size: 14px; font-weight: bold; }
div.errorExplanation p { font-weight: bold; }
div.errorExplanation ul { padding-left: 20px; }
div.errorExplanation li { list-style-type: square; padding: 2px; }

/* login page styles */
body#login { color: #333; background: #e5e5e5; padding: 55px 0; }
body:first-of-type#login div.login { border: none; }
body#login div.login { padding: 25px 28px; background: #fff; width: 410px; margin: 10px auto; border: 1px solid #aaa;
  -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; 
  -moz-box-shadow: 0 0 6px #999; -webkit-box-shadow: 0 0 6px #999; box-shadow: 0 0 6px #999; }
body#login div.login h1 { font-size: 16px; margin: 0 0 20px 0; font-weight: bold; }
body#login div.login_dialog { zoom: 100%; }
body#login div.input { margin-bottom: 10px; }
body#login label { display: block; font-weight: bold; color: #666; }
body#login input.string, 
body#login input.password { width: 400px; border: 1px solid #DDD; border-left-color: #999; border-top-color: #999;
  padding: 7px 4px; line-height: 16px; background: #fff; }
body#login input.boolean { vertical-align: middle; width: auto; }
body#login label.boolean { display: inline-block; vertical-align: middle; line-height: 13px; }