<li><a href="<%= admin_root_path %>"<%= raw(" class=\"current\"") if ["home"].index(controller_name) %> title="扶뒬못">Dashboard</a></li>
<li><a href="<%= admin_root_path %>"<%= raw(" class=\"current\"") if ["page"].index(controller_name) %> title="扶뒬못">Dashboard</a></li>